<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.divij.ane.unit.basic</string>
		<string>com.divij.ane.unit.iOSBasic</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAMEASIDENTIFIER___.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		</dict>
		<key>___PACKAGENAMEASIDENTIFIER___.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		</dict>
		<key>extension.xml</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>./extension.xml</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>platformoptions.xml</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>./platformoptions.xml</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>generateANE.sh</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>./generateANE.sh</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>___PACKAGENAME___-Prefix.pch:objC:importFoundation</key>
		<string>#import &lt;Foundation/Foundation.h&gt;
</string>
	</dict>
	<key>Description</key>
	<string>This template builds an Adobe AIR native extension for iOS</string>
	<key>Identifier</key>
	<string>com.divij.ane.cocoatouch</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:objC:importFoundation</string>
		<string>___PACKAGENAMEASIDENTIFIER___.h</string>
		<string>___PACKAGENAMEASIDENTIFIER___.m</string>
		<string>extension.xml</string>
		<string>platformoptions.xml</string>
		<string>generateANE.sh</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>airSDKPath</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Directory containing the AIR sdk: /</string>
			<key>Description</key>
			<string>This is the path to the directory containing the AIR SDK</string>
			<key>EmptyReplacement</key>
			<string>/Applications/Adobe Flash Builder 4.6/sdks/4.6.0/</string>
			<key>NotPersisted</key>
			<false/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>extensionSWC</string>
			<key>Required</key>
			<false/>
			<key>Name</key>
			<string>Native extension&apos;s swc file (optional): /</string>
			<key>Description</key>
			<string>This is the native extension&apos;s swc file</string>
			<key>EmptyReplacement</key>
			<string></string>
			<key>NotPersisted</key>
			<false/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>GCC_ENABLE_CPP_EXCEPTIONS</key>
			<string>NO</string>
			<key>GCC_ENABLE_OBJC_EXCEPTIONS</key>
			<string>NO</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>/___VARIABLE_airSDKPath___/include/</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>/___VARIABLE_airSDKPath___/include/</string>
			</dict>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
			</array>
			<key>Frameworks</key>
			<array>
				<string>Foundation</string>
				<string>CoreFoundation</string>
				<string>UIKit</string>
				<string>MobileCoreServices</string>
				<string>CoreGraphics</string>
				<string>SystemConfiguration</string>
				<string>AudioToolbox</string>
				<string>CFNetwork</string>
				<string>QuartzCore</string>
				<string>OpenGLES</string>
				<string>CoreLocation</string>
				<string>CoreMedia</string>
				<string>CoreVideo</string>
				<string>AVFoundation</string>
				<string>Security</string>
			</array>
			<key>ProductType</key>
			<string>com.apple.product-type.library.static</string>
			<key>SharedSettings</key>
			<dict>
				<key>DSTROOT</key>
				<string>/tmp/___PACKAGENAMEASIDENTIFIER___.dst</string>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/___PACKAGENAME___-Prefix.pch</string>
				<key>OTHER_LDFLAGS</key>
				<string>-ObjC</string>
				<key>SKIP_INSTALL</key>
				<string>YES</string>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___.ane</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>
								chmod 755 &quot;$PROJECT_DIR/$PROJECT_NAME/generateANE.sh&quot;
								&quot;$PROJECT_DIR/$PROJECT_NAME/generateANE.sh&quot;
					</string>
				</dict>
			</array>
			<key>ProductType</key>
			<string>com.apple.product-type.library.static</string>
			<key>Dependencies</key>
			<array>
				<string>0</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>___PACKAGENAME___</string>
				<key>EXECUTABLE_PREFIX</key>
				<string></string>
				<key>EXECUTABLE_EXTENSION</key>
				<string>ane</string>
				<key>NATIVEEXTENSION_SWC</key>
				<string>/___VARIABLE_extensionSWC___</string>
				<key>AIR_SDK_PATH</key>
				<string>/___VARIABLE_airSDKPath___</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
